* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: green;
  height: auto;
  width: 59%;
 
  align-items:  center;

}

.header {
display: flex;
padding: 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header nav {
  display: flex;
  justify-content: space-around;
  width: 300px;

}

.header a {
  text-decoration: none;
  color: black;
}

.hero {
  width: 100%;
 
  display: inline-flex;
  padding-top: 30px;
}

.hero img {
  width: 23%;
  height: auto;
  padding-right: 50px;
}

.hero p {
  width: 80%;
 
  font-size: 1.2rem;
}

.hero h2 {
  padding-bottom: 20px;
}




